<div id="<%= dom_id cart_item %>">
  <% product = cart_item.product %>
  <div class="group relative">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-60">
      <%= image_tag product.image.variant(resize_to_fill: [1216, 1680]), alt: "Product Image", class: "h-full w-full object-cover object-center lg:h-full lg:w-full" if product.image.attached? %>
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-m text-gray-700">
          <%= link_to product.name, product_path(product) %>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          <%= product.color %>
        </p>
        <p class="mt-1 text-sm font-medium text-gray-900">
          <%= number_to_currency(product.price) %>
        </p>
      </div>
    </div>
    <br/>
    <p class="mb-5">
      Current quantity: <%= cart_item.quantity %>
      <% if cart_item.total != cart_item.product.price %>
        (<%= number_to_currency(cart_item.total) %>)
      <% end %>
    </p>
    <div>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <p>Select the quantity:</p>
        <%= f.number_field :quantity, value: 0, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", id: "number-input", placeholder: "90210", min: 0 %>
        <%= f.submit "Confirm", class: "mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", style: "cursor: pointer;" %>
      <% end %>
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: cart_item.id %>
        <%= f.submit "Remove from Cart", class: "mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", style: "cursor: pointer;" %>
      <% end %>
    </div>
  </div>
</div>
