<div id="<%= dom_id orderable %>">
  <% product = orderable.product %>
  <li id="<%= "cart-#{product.id}" %>">
    <div class="border-b border-gray-300 mb-4 pb-4">
      <%= link_to product.name, product_path(product), class:"font-medium text-xl text-gray-900 whitespace-nowrap" %>
      <%= content_tag(:div, number_to_currency(orderable.total), class:"mb-2")%>
      <p>Current quantity: <%= orderable.quantity %> </p>
      <% if orderable.total != product.price %>
        <p class="text-gray-500"> (<%= number_to_currency(product.price) %> each) </p>
      <% end %>
      <p class="mb-2">
      
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <p>Select the quantity:</p>
        <%= f.number_field :quantity, value: orderable.quantity, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", id: "number-input", placeholder: "90210", min: 0 %>
        <%= f.submit "Confirm", class: "mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", style: "cursor: pointer;" %>
      <% end %>
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <%= f.submit "Remove from Cart", class: "mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", style: "cursor: pointer;" %>
      <% end %>
    </div>
  </li>
</div>