<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-8">
    <p class="text-xl font-medium">Order Summary</p>
    <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
      <% @cart.cart_items.each_with_index do |cart_item, index| %>
        <div class="<%= 'border-t' unless index.zero? %>">
          <div class="flex flex-col rounded-lg bg-white sm:flex-row">
            <div class="flex w-full flex-col px-4 py-4">
              <span class="font-semibold"> <%= cart_item.product.name %> </span>
              <span class="float-right text-gray-400"> <%= cart_item.product.color %> </span>
              <div class="flex justify-between items-center">
                <p class="mt-auto text-lg font-bold">
                  <%= number_to_currency(cart_item.total) %>
                </p>
                <p class="text-gray-400 ml-2">
                  <% if cart_item.total != cart_item.product.price %>
                    (<%= cart_item.quantity %> &#215; <%= number_to_currency(cart_item.product.price) %>)
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "form", order: @order %>
</div>


