<tr class="odd:bg-white even:bg-gray-50 hover:bg-gray-100 border-b" id="<%= dom_id product %>">
  <th scope="row" class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap">
    <%= link_to product.name, product_path(product) %>
  </th>
  <td class="px-6 py-4">
    <%= number_to_currency(product.price) %>
  </td>
  <td class="px-6 py-4">
    <%= product.category %>
  </td>
  <td class="px-6 py-4">
    <%= product.color %>
  </td>
  <td class="px-6 py-4">

    <div class="inline-flex rounded-md shadow-sm">
      <%= form_with(url: cart_add_path) do %>
        <%= hidden_field_tag :id, product.id %>
        <%= hidden_field_tag :quantity, 1 %>
        <%= submit_tag "Add to Cart", class:"px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700", style: "cursor: pointer;" %>
      <% end %>

      <%= link_to "Edit", edit_product_path(product), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700" %>

      <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700" %>
    </div>

  </td>
</tr>