<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <div id="<%= dom_id @product %>">
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">
              <%= @product.name %>
            </h1>
            <br/>
            <h1 class="font-medium text-4xl">
              <%= number_to_currency(@product.price) %>
            </h1>
            <br/>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
              <%= @product.description %>
            </p>
            <div class="my-5 flex flex-wrap">
              <div class="flex items-center mr-8">
                <strong class="font-medium mr-2">Color:</strong>
                <span class="font-medium"><%= @product.color %></span>
              </div>
              <div class="flex items-center">
                <strong class="font-medium mr-2">Category:</strong>
                <span class="font-medium"><%= @product.category %></span>
              </div>
            </div>
            <form action="<%= cart_add_path %>" method="post" class="max-w-sm mx-auto">
              <%= hidden_field_tag :id, @product.id %>
              <%= number_field_tag :quantity, 0, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", id: "number-input", placeholder: "90210", required: true, min: 0 %>
              <%= submit_tag "Confirm", class: "mt-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", style: "cursor: pointer;" %>
            </form>
            <%= 
              link_to "Buy", 
              edit_product_path(@product), 
              class: "inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            %>
          </div>
        </div>
      </section>
    </div>

    <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this product", product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to products", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
